Checks: >
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type

WarningsAsErrors: ''
HeaderFilterRegex: 'src/|include/'
SystemHeaders: true
AnalyzeTemporaryDtors: false
FormatStyle: none